doctype html

html.no-js(lang=en)
  include ../includes/head.jade

  body
    div.off-canvas-wrap(data-offcanvas)
        include ../sections/nav.jade
        div.inner-wrap
            include ../sections/header.jade
            include ../sections/services.jade
            include ../sections/discovery.jade
            include ../sections/design.jade
            include ../sections/development.jade
            include ../sections/future.jade
            include ../sections/showcase.jade
            include ../sections/about.jade
            include ../sections/contact.jade
            include ../sections/footer.jade

            //- Off Canvas Menu
            aside.right-off-canvas-menu
                ul
                    li
                        a Item 1
                        
        a.exit-off-canvas

    include ../includes/scripts.jade