doctype html

html(lang=en)
  include ../includes/head.jade

  body
    include ../sections/header_showcase.jade
    section.block.showcase_entry
      div.sites
        article.image
            header.title
              div.site_title
                h1 Showcase Title
              div.showcase_location
                div.url
                  ul
                    li.link 
                        strong Url
                        a(href="#" target="_blank") http://www.google.com
                    li.used
                        strong Used
                        span Sass 
                        span Angular 
                        span Pattern.io
                div.visit
                    a(src="#" target="_blank") Visit Site
            div.site_image
                figure.featured_image
                    img(src="http://placehold.it/1200x800")

        //- Content
        div.entry
            article.content
                header.title
                    h2 Content
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores laudantium consectetur rem sapiente odio voluptas, ab sequi ducimus, at pariatur quos. Explicabo ullam ut adipisci officiis aut quaerat laborum, pariatur.

                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores laudantium consectetur rem sapiente odio voluptas, ab sequi ducimus, at pariatur quos. Explicabo ullam ut adipisci officiis aut quaerat laborum, pariatur.

                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores laudantium consectetur rem sapiente odio voluptas, ab sequi ducimus, at pariatur quos. Explicabo ullam ut adipisci officiis aut quaerat laborum, pariatur.

                footer.visit
                    a(src="#" target="_blank") Visit Site
            section.gallery
                ul.site_images
                    li
                        img(src="http://placehold.it/600x250")
                    li
                        img(src="http://placehold.it/600x250")

    include ../sections/contact.jade
    include ../sections/footer.jade

    include ../includes/scripts.jade