head
	meta(charset="utf-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	link(href='styles/style.css', rel='stylesheet', type='text/css')
	meta(name="viewport" content="width=device-width, initial-scale=1")
	script(src="scripts/new-design/vendor/modernizr-2.min.js")
