script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
script window.jQuery || document.write('<script src="js/vendor/jquery-1.min.js"><\/script>')
script(src="scripts/new-design/vendor/foundation/foundation.min.js")
script(src="scripts/new-design/vendor/foundation/offcanvas.min.js")
script(src="scripts/new-design/vendor/viewportchecker.min.js")

script(src="scripts/new-design/plugins.js")
script(src="scripts/new-design/app.js")
