section#about.block
	a(name="about")
	div.block_entry
		header.block_title
			h2.title About Us

		div.entry
			p  Our mission/goal is to help companies small, medium, and large size, to meet their technology goals and provide a user friendly user interface. However, we do not limit our service to simply the project at hand; our goal is to provide a solid foundation and a sturdy footprint that will help the maintainance of the application in the future. A solid framework, comprehensive documentation, and task management are just a few services that are services we pride ourselves.

			h6 Small Business

			p  The online presence of a small business is very important. This is where one can become equal to all competitors, small or large. At Cielo Concepts, we define a businesses "online presence" as not only building a website but also providing the tools that will make the website more visible like search engine optimization so that the site will come up on searches with the appropriate keywords. A social media presence is also another way to expand the onine presence. Facebook, Twitter, and Instagram are just some of the ways that a business can reach its targeted audience. Blogging is also another way that a business can reach out to potential customers and "advertise through information". If you are starting a small business or just looking to improve your existing online presence #[a(href="#contact") contact us] for more information.

			h6 Tech StartUps

			p  The goal to present a prototype to potential investors for either "A" round funding or a second round of funding is key to the success of a tech startup. Most startups build a prototype in order to reach the needed milestone but most of the time will throw it away in preferences to a more robust and agile product. At Cielo Concepts, we believe that this prototype does not need to be throw away code and can be the foundation of a product that is extensible. We can help buidling the user interface so that a proper framework is created and the ancillary tools like task management tools like Grunt and scaffolding tools like Yeoman are used to build a great foundation.

			h6 Large Projects

			p  A great user interface, one with a great design and user experience, is the difference between a product that will be very successful and one that my not be as successful. At Cielo Concepts, we can help in evaluating the product and helping improve areas that require it. At Cielo Concepts, we have helped companies build an entiere user interface for a product, we have evaluated the CSS or JavaScript framework for a site and help improve its performance, we have also helped build a user interface framework for a suite of products. 