section#contact.block.contact
	a(name="contact")
	div.bg
		div.section_cover
			div.overlay
			article.block_entry
				div.entry
					header.block_title
						h2.title Contact Us

					p  If you would like to setup a time to talk with us and see how we can help you, please fill out this form and we will contact you as soon as possible.

					footer.block_form
						form(action="/email")
							div.name
								input(type="text", placeholder="Name")
							div.email
								input(type="email", placeholder="Email")
							div.message
								textarea(placeholder="Message")
							div.send
								input(type="submit", value="Send")