section#design.block.lgt
	a(name="design")
	article.block_entry
		div.entry 
			header.block_title
				h2.title design
				p  Drawing from the information gathered from the discovery phase, it’s time to determine the look and feel of your application or site. Along with wireframing and prototyping, the overall visual style will most likely be determined by the visual brand of the organization; the goal being to connect the Web with all other forms of the organization’s communications.

				footer.block_footer
					p
						a(href="#development").cta Development
		div.entry_image
			figure
				img(src="images/new-design/img_design.svg", alt="")