section#discovery.block.drk
	a(name="process")
	div.bg
		article.block_entry
			div.entry 
				header.block_title
					h2.title discovery

				p  At Cielo Concepts The discovery process is the first step to a sucessful project. The Scope and depth of research and inquiry will differ from project to project, but the results are the same: valuable data. The more information you gather, interpret, and comprehend, the more prepared you will be to execute a site on budget and on target.

				footer.block_footer
					p
						a(href="#design").cta Design