section.block.foot
	footer.footer_container
		div.ft.lg
			div.ft_container
				div.sub_ft.loc
					h5.title Location
					div.entry
						ul
							li 711 Atlantic Ave
							li Lower Level
							li Boston, Massachusetts 02111
							li 
								a(href="tel:617-870-4574") tel. 617.870.4574
							li
								a(href="mailto:info@cieloconcepts.com") info@cieloconcepts.com
				div.sub_ft.blog
					h5.title From the blog
					div.blog_container
				div.sub_ft.tweet
					h5.title Latest Tweets
					div.entry
						a.twitter-timeline(href="", data-widget-id="622787396128645120") Tweets by @cielo_concepts
						script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		div.ft.img
			img(src="images/new-design/logo_icon.svg", alt="")