section#deployment.block.lgt
	a(name="deployment")
	article.block_entry
		div.entry 
			header.block_title
				h2.title Deployment
				p  Sometimes a bad production deployment can ruin all the effort you invested in a development process. Having a solid deployment workflow can become one of the greatest advantages of your team. What seems like a simple thing can actually be quite complex. At Cielo Concepts Inc., we will safely deploy your application though Development, Staging and Production enviroments.

				footer.block_footer
					p
						a(href="#showcase").cta Showcase
		div.entry_image
			figure
				img(src="images/new-design/img_deploy.svg", alt="")