section.block.head
  div.overlay
  div.header_container(data-magellan-expedition='fixed')
    header.main
      div.logo
        h1
          a(href='#')
      nav.page_nav
        include ./sitenav.jade

        ul.nav
          li
            a(href="") Services
          li
            a(href="") The Process
          li
            a(href="") About Us
          li
            a(data-magellan-arrival="contact", href="#contact") Contact Us

  div.hero
    hgroup.tag
      h3 Let Us
      h1 Your Story
      h2 On the Web

    div.cta_block
      a(href="").btn Learn More
