section.showcase_head
  div.header_container
    header.main
      div.logo
        h1
          a(href='#top')
      nav.page_nav
        include ./sitenav.jade

        ul.nav
          li.home
            a(href="/") Back to index
          li
            a(href="#contact") Contact Us


