section.block.head
  div.bg
    div.section_cover
      div.overlay

      div.hero
        hgroup.tag
          h3 Let Us
          h1 Your Story
          h2 On the Web

        div.cta_block
          a(href="#services").btn Learn More

