div.header_container
        header.main
          div.logo
            h1
              a(href='#top')
          nav.page_nav
            include ./sitenav.jade

            ul.nav
              li
                a(href="#services") Services
              li
                a(href="#process") The Process
              li
                a(href="#about") About Us
              li
                a(href="#contact") Contact Us