
<div class="header_container">
  <header class="main">
    <div class="logo">
      <h1><a href="#top"></a></h1>
    </div>
    <nav class="page_nav">
      <ul class="social">
        <li class="s_link"><a href=""><span class="icon tw"><img src="images/new-design/social_tw.svg" alt=""/></span></a></li>
        <li class="s_link"><a href=""><span class="icon ln"><img src="images/new-design/social_ln.svg" alt=""/></span></a></li>
        <li class="menu"><a href="#" class="ham right-off-canvas-toggle"></a></li>
      </ul>
      <ul class="nav">
        <li><a href="#services">Services</a></li>
        <li><a href="#process">The Process</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
  </header>
</div>