section#service.block.services
	a(name="services")
	article.block_entry
		header.block_title
			h2.title Services
		
		div.services_container
			div.service.one
				div.icon_container
					i.icon.s1
				h3.title Custom Development
				p  Don't ignore the benefits of an user friendly site. Users have become very savvy and a site with a bad user experience will fail no matter how much has been spent on the hardware or design.

			div.service.two
				div.icon_container
					i.icon.s2
				h3.title Interface Framework
				p  Take advantage of all the tools and frameworks available. Grunt, Yeoman, Sass are extremely productive tools that can improve development time. AngularJS, BackboneJS, NodeJS are some of the tools that can help give a great structure to the UI.

			div.service.three
				div.icon_container
					i.icon.s3
				h3.title Better Prototyping
				p  Startups have to have a working prototype for their investors to convey their intentions with a clear cut action. We can help these startups achieve this milestone with the proper groundwork that can be built upon the original framewowrk.
				
	div.featured_image
		figure.img
			a(href="#process")
				img(src="images/new-design/img_devices.jpg")