section#showcase.block.drk
	a(name="showcase")
	div.bg
		article.block_entry
			div.entry
				header.block_title
					h2.title Showcase

				p  At Cielo Concepts Inc., our applications websites are built to engage visitors and achieve your business objectives.

				footer.block_footer
					div.sc_item
						figure
							a(href="/portfolio/HBR") 
								img(src="http://placehold.it/300x300")
					div.sc_item
						figure
							a(href="showcase_template.html") 
								img(src="http://placehold.it/300x300")

					p
						a(href="#about").cta About Us