// Global
body {
	@include open-sans();
	-webkit-font-smoothing: antialiased;
}

a {
	color: $lt-blue;
	&:link, &:active {
		text-decoration: none;
	}
	&:hover {
		color: $org;
	}
}

figure {
	margin: 0;
}

.section_cover {
	height: 100vh;
	position: relative;
}

.overlay {
	@include abs_pos ($top: 0, $right: 0, $bottom: 0, $left: 0);
	background-color: black(0.3);
}

.cta {
	&:hover {
		@include pulse();
	}
	&:after {
		content: "\f178";
		color: $lt-blue;
		font-family: FontAwesome;
		margin-left: 1em;
	}
}

.block {
	.bg {
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 100vh;
		// position: relative;
	}
	width: 100vw;
	min-height: 100vh;
	position: static;
	.block_entry {
		@include grid_row();
		padding: 7em 0 3em 0;
		position: relative;
		.block_title {
			.title {
				@include montserrat($size: em(48px), $tt: uppercase);
				@include bp(small) {
					font-size: em(24px);
				}
				margin: 0 0 1em;
			}
		}
	}
	&.head, &.development, &.discovery, &.showcase,  &.contact, &.foot {
		background-color: $dk-blue;
	}
}

// About
#about {
	.block_entry {
		@include fadeIn(
			$delay: .5s,
			$function: ease
		);
	}
	.block_title {
		@include grid_column(12);
		text-align: center;
		.title {
			color: $lt-blue;
		}
	}
	.entry {
		@include grid_column(10, $center: true);
		@include bp(medium_up) {
			@include grid_column(8, $center: true);
		}
		h6 {
			color: $lt-blue;
			font-size: em(14px);
			text-transform: uppercase;
			margin: 0 0 0.1em;
		}
		p {
			color: $gry;
		}
	}
}

// Contact
.contact {
	.bg {
		background-image: url('#{$imgPath}/img_contact.jpg');
	}
	.overlay {
		background: black(0.25);
	}
	.entry {
		@include grid_column(10, $center: true);
		@include bp(medium_up) {
			@include grid_column(6);
		}
		* {
			color: $white;
		}
		.block_form {
			@include grid_row($behavior: nest);
			.name, .email {
				@include grid_column(12);
				@include bp(medium_up) {
					@include grid_column(6);
				}
				padding-bottom: 0.8em;
			}
			.message, .send {
				@include grid_column(12);
				padding-bottom: 0.4em;
				input {
					text-transform: uppercase;
					background-color: $org;
					 &:focus {
					 	background-color: $org;
					 }
				}
			}
			input, textarea {
				border: 1px solid #ccc;
				padding: 1em;
				width: 100%;
			}
		}
	}
}

// Footer
.footer_container {
	@include grid_row();
	padding: 8em 0 5em 0;
	* {
		color: $white;
	}
	.ft {
		@include grid_column(10, $center: true);
		padding-bottom: 2em;
		a:hover {
			color: $lt-blue;
		}
		&.lg {
			@include grid_column(12);
			@include bp(medium_up) {
				@include grid_column(10);
			}
		}
		&.img {
			@include grid_column(12);
			@include bp(medium_up) {
				@include grid_column(2);
			}
		}
		.ft_container {
			@include grid_row($behavior: nest);
			.sub_ft {
				@include grid_column(12);
				padding-bottom: 2em;;
				@include bp(medium_up) {
					@include grid_column(4);
				}
				.title {
					@include montserrat($size: em(20px), $tt: uppercase);
					color: lighten($dk-blue, 50%);
					margin: 0 0 0.8em;
				}
				.entry {
					* {
						font-size: em(15px);
						font-weight: bold;
					}
				}
				&.loc {
					ul {
						@include flat_list();
					}
				}
				&.blog {
					.blog_container {
						ul {
							@include flat_list();
							.rssRow {
								border-bottom: 1px solid lighten($dk-blue, 30%);
								margin-bottom: 0.6em;
								padding-bottom: 0.6em;
								&:last-child {
									border: 0;
								}
								h5 {
									@include montserrat($size: em(15px), $tt: uppercase);
									margin: 0 0 0.5em;
								}
								p {
									font-size: em(14px); 
								}
							}
							
						}
					}
						
				}
			}
		}
	}
}