#discovery {
	.bg {
		background-image: url('#{$imgPath}/img_discovery.jpg');
	}
}

#development {
	.bg {
		background-image: url('#{$imgPath}/img_development.jpg');
	}
}

#showcase {
	.bg {
		background-image: url('#{$imgPath}/img_showcase.jpg');
	}
}

#discovery, #development, #showcase {
	background-color: $dk-blue;
	* {
		color: $white;
	}
	.entry {
		@include grid_column(10, $center: true);
		@include bp(medium_up) {
			@include grid_column(6);
		}
		p {
			font-size: em(22px);
		}
	}
}

#design, #deployment {
	.entry {
		@include grid_column(10, $center: true);
		@include bp(medium_up) {
			@include grid_column(6, $push:6);
		}
		p {
			color: $gry;
			font-size: em(22px);
		}
		.block_title {
			.title {
				color: $lt-blue;
			}
		}
		.cta {
			color: $gry;
			&:hover {
				color: $lt-blue;
			}
		}
	}
	.entry_image {
		@include grid_column(10, $center: true);
		@include bp(medium_up) {
			@include grid_column(6, $pull:6);
		}
	}
}

.block_footer {
	p {
		a {
			font-size: em(12px);
			text-transform: uppercase;
		}
	}
}

// showcase
#showcase {
	.block_footer {
		@include grid_row($behavior: nest);
		.sc_item {
			@include grid_column(6);
		}
		p {
			@include grid_column(12);
			padding-top: 1.5em;
		}
	}
	
}

.active_block {
	// services
	&.services {
		.block_title, .services_container {
			@include fadeIn(
				$delay: .3s,
				$function: ease
			);
		}
	}
	
	// dark
	&.drk {
		.block_entry {
			@include fadeInLeft(
				$delay: .3s,
				$function: ease
			);
		}
	}
	// light
	&.lgt {
		.block_entry {
			@include fadeInRight(
				$delay: .3s,
				$function: ease
			);
		}
		.entry_image {
			@include fadeInLeft(
				$delay: .5s,
				$function: ease
			);
		}
	}
	&.contact {
		.block_entry {
			@include fadeInLeft(
				$delay: .3s,
				$function: ease
			);
		}
	}
}