.services {
	position: relative;
	.block_entry {
		padding-bottom: 0;
	}
	.block_title {
		@include grid_column(12);
		text-align: center;
		.title {
			color: $lt-blue;
		}
	}
	.services_container {
		@include grid-row($behavior: nest);
		padding: 2em 0 4em;
		.service {
			@include grid_column(10, $center: true);
			@include bp(medium_up) {
				@include grid_column(4);
			}
			text-align: center;
			padding: 0 30px;
			* {
				color: $gry;
			}
			.icon_container {
				@include circle(80px, lighten($gry, 70%));
				border: 2px solid lighten($gry, 20%);
				margin: 0 auto 2em;
				.icon {
					@include vertical_align();
					@include center_block();
					width: 40px;
					height: 40px;
					&:before {
						@include abs-pos($left: 0);
						
						color: $lt-blue;
  						
  						font-style: normal;
  						font-size: 40px;
  						margin-top: -10px;
					}
					&.s1 {
						&:before {
							content: "\f0ad"; 
							font-family: "fontawesome";
						}
					}
					&.s2 {
						&:before {
							content: "\f1b3"; 
							font-family: "fontawesome";
							left: -3px;
						}
					}
					&.s3 {
						&:before {
							content: "\f135"; 
							font-family: "fontawesome";
						}
					}
				}
			}
			.title {
				@include montserrat($size: em(18px), $tt: uppercase);
				@include bp(small) {
					font-size: em(18px);
				}
				margin-bottom: 0.8em;
			}
			p {
				@include open-sans($size: em(14px));
			}
		}
	}
	.featured_image {
		display: none;
		@include bp(medium_up) {
			@include fadeIn(
				$delay: .5s,
				$function: ease
			);
			display: block;
		}
		@include grid_column(8, $center: true);
		position: relative;
		figure {
			@include center_block();
		}
	}
}