.showcase_head {
	.header_container {
		background-color: $dk-blue;
		&.fixed {
			background-color: black(0.6);
		}
		.home {
			a {
				&:before {
					content: "\f177";
					color: $lt-blue;
					font-family: "fontawesome";
					margin-right: 0.5em;
				}
			}
		}
	}
}

.showcase_entry {
	background-color: $white;
	* {
		color: $gry;
	}
	.btn {
		@include btn($size: em(12px));
		border: 1px solid lighten($gry, 30%);
	}
	.image, .entry {
		padding-bottom: 2em;
	}
	.sites {
		@include grid_row();
		@include fadeIn(
			$delay: .3s,
			$function: ease
		);
		.title {
			padding: 2em 0 1em;
			.site_title {
				@include grid_row();
				.main_title {
					@include grid_column(12);
				}
				.related_title {
					display: none;
					@include bp(medium_up) {
						@include grid_column(4);
						display: block;
					}
					h6 {
						@include montserrat($size: em(16px), $tt: uppercase);
						margin: 30px 0 0;
					}
				}
				h1 {
					@include montserrat($size: em(42px), $tt: uppercase);
					@include bp(small) {
						font-size: em(24px);
						padding-bottom: 1.5em;
					}
					color: $lt-blue;
					margin: 0;
				}
			}
		}
		.url {
			ul {
				// @include inline_list($padding: em(3px) 0 3px(10px) 0, $li-padding: 0 0.5em 0);
				@include flat_list();
				@include clearfix();
				margin-bottom: 1.2em;
				width: 100%;
				* {
					font-size: 0.95em;
				}
				strong {
					color: $lt-blue;
					text-transform: uppercase;
					padding-right: 0.5em;
					display: inline-block;
					&:after {
						content: ":";
					}
				}
				span {
					padding-right: 0.3em;
					display: inline-block;
					&:after {
						content: ",";
					}
					&:last-child {
						&:after {
							content: "";
						}
					}
				}
			}
		}


		.showcase_location, .site_image {
			@include grid_row($behavior: nested);
			padding-bottom: 1em;
			.url {
				@include grid_column(12);
				@include bp(medium_up) {
					@include grid_column(8);
				}
			}
			.visit {
				@include grid_column(12);
				@include bp(medium_up) {
					@include grid_column(4);
					p {
						text-align: right;
						margin: 0;
					}
				}
				
			}
			.featured_image {
				@include grid_column(12);
			}
		}
		.entry {
			@include grid_row($behavior: nested);
			.gallery {
				@include grid_column(12);
				@include bp(medium_up) {
					@include grid_column(6, $pull:6);
				}
				.site_images {
					@include flat_list();
					li {
						margin-bottom: 2em;
						border: 1px #ccc solid;
						padding: 0.3em;
						box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
					}
					caption {
						text-align: center;
						
					}
				}
			}
			.content {
				@include grid_column(12);
				padding-bottom: 1em;
				@include bp(medium_up) {
					@include grid_column(6, $push:6);
				}
				.title {
					padding: 0 0 1em;
					h2 {
						@include montserrat($size: em(28px), $tt: uppercase);
						@include bp(small) {
							font-size: em(18px);
						}
						color: $lt-blue;
						margin: 0;
					}
				}
				
			}
		}	
	}


	.related {
		@include grid_column(12);
		.title {
			@include montserrat($size: em(16px), $tt: uppercase);
			margin-bottom: 1em;
			padding: 0;
		}
	}
}

